*{
    
    padding: 0px;
    box-sizing: border-box;
}




form{
    position: relative;
    left: 200px;
    margin: 20px;
}

form input, select{
    left: 50px;
    height: 20px;
    margin-left: 20px;
}



#tareas{
    margin: 10px;
    padding:20px;

}

#tareas article{
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    border-radius: 6px;
}

#tareas article button{
    display: flex;
    background-color:tomato;
    margin: 5px;
    padding: 5px;
    color: black;
    border:1px solid black;
    transition: 0.4s;

}

#tareas article button:hover{
background-color:red;
}

#guardar{
    background-color: teal;
    width: 100px;
    height: 30px;
}

#guardar:hover{
    background-color: aquamarine;
    transition: 1s;
}








.Urgente {
    background-color:orange;
}

.Diaria {
    background-color: blue;
}

.Mensual {
    background-color:greenyellow;
}

